@import "tailwindcss";

:root {
  --white: #FFFFFF;
  --dark: #111928;
  --primary: #1C64F2;
}

@theme inline {
  --color-white: var(--white);
  --color-dark: var(--dark);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --foreground: var(--white);
  }
}
